<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="display-4 p-4">Contactos</p>
    </div>
    <div class="col-3" *ngFor="let contacto of contactos">
      <div class="mt-4">
        <div class="card shadow">
          <img
            class="card-img-top"
            src="https://cdn-icons-png.flaticon.com/256/149/149071.png"
            alt="Imagen de la card"
          />
          <div class="card-body">
            <h5 class="card-title">{{ contacto.nombre }}</h5>
            <p class="card-text">
              {{ contacto.email }} | {{ contacto.telefono }}
            </p>
            <a routerLink="/contacto/{{ contacto._id }}" class="btn btn-primary">Ver informacion</a>
            <a routerLink="/eliminar/{{ contacto._id }}" class="btn btn-danger">Eliminar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>